@import  "./variables.scss";

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: rgb(6, 6, 6);
   font-weight: 600;
}

li {
   list-style-type: none;
}



#app {
   


   .header {
         display: flex;
         justify-content: space-around;

      &__nav {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      &__items {
         display: flex;
      }

      &__item {
         padding: 2rem;
         font-size: 2rem;
      }

      &__item:hover{
         transform: scale(1.1);
      }
   }

   .main {
      
      font-family: sans-serif;
      

      &__blok-box {
         height: 45rem;
         background-image: url("../images/main-blok/main-image.jpg");
         background-size: 90%;
         background-repeat: no-repeat;
         background-position: center;
         margin: 3rem;
      }

      &__title {
         position: absolute;
         top: 35%;
         left: 13%;
         font-size: 3rem;
         color: rgb(58, 58, 58);
      }

      &__text {
         font-size: 5rem;
         color: rgb(108, 108, 108);
         position: absolute;
         top: 55%;
         left: 13%;
         font-weight: 700;
      }

      &__title-second {
         position: relative;
         top: 68%;
         left: 45%;
         font-size: 8rem;
         color: rgb(255, 255, 255);
      } 

      &__groups {
         display: flex;
         justify-content: space-around;
      }

      &__company {
         padding: 3rem;
      }

      
      &__products-wrapper {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         margin-left: 8rem;
      }

   }

   .product-text {
         max-width: 60%;
         text-align: center;
      }

   .image__product {
         width: 300px;
      }

   .image-company:hover{
         transform: scale(1.5);
      }


   .form {
      
      &__box {
         background-color: rgb(222, 219, 219);
         max-width: 30%;
         position: relative;
         left: 32%;
         text-align: center;
         padding: 2rem;
         border: 1px solid rgb(222, 219, 219); 
         margin: .5rem;
      }

      &__title {
         font-size: 2rem;
      }

      &__btn {
         margin: .5rem;
         font-size: 1.5rem;
         padding: 1rem;
         width: 35%;
         border: 1px solid rgb(222, 219, 219);
         background-color: rgb(255, 221, 98);
         cursor: pointer;
      }

      &__btn:hover {
         color: rgb(255, 29, 29);
         transform: scale(1.1);
      }
   }

   .section {
      background-color: gold;
      height: 15%;
      margin: 2.5rem;

      &__box {
         display: grid;
         row-gap: 50px;
         padding: 3.5rem;
      }

      &__title {
         text-align: center;
         font-size: 2rem;
      }

      &__paragraph {
         max-width: 60%;
         text-align: center;
         font-size: 1.2rem;
         color: darkred;
         font-weight: 700;
         text-align: center;
      }
   }

   .footer , .header {
      background-color: darkgray;
      height: 5rem;
   }


  
}