@import  "./variables.scss";

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: rgb(6, 6, 6);
   font-weight: 600;
}

li {
   list-style-type: none;
}



#app {
   


   .header {
         display: flex;
         justify-content: space-around;

      &__nav {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      &__items {
         display: flex;
      }

      &__item {
         padding: 1rem;
         font-size: 2rem;
      }

      &__item:hover{
         transform: scale(1.1);
      }
   }

   .main {
     
      font-family: sans-serif;
      

      &__blok-box {
         height: 45rem;
         background-image: url("../images/main-blok/main-image.jpg");
         background-size: 90%;
         background-repeat: no-repeat;
         background-position: center;
         margin: 1rem;
         
      }


      .text {
         font-size: 4rem;
         color: rgb(108, 108, 108);
         position: relative;
         top: 40%;
         left: 10%;
         font-weight: 700;
      }

     
      &__groups {
         display: flex;
         justify-content: space-around;
      }

      &__company {
         padding: 3rem;
      }

      
      &__products-wrapper {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         margin-left: 8rem;
      }

   }

   .product-text {
         max-width: 60%;
         text-align: center;
      }

   .image__product {
         width: 300px;
      }

   .image-company:hover{
         transform: scale(1.5);
      }


   .form {
      
      &__box {
         background-color: rgb(222, 219, 219);
         max-width: 30%;
         position: relative;
         left: 32%;
         text-align: center;
         padding: 2rem;
         border: 1px solid rgb(222, 219, 219); 
         margin: .5rem;
      }

      &__title {
         font-size: 2rem;
      }

      &__btn {
         margin: .5rem;
         font-size: 1.5rem;
         padding: 1rem;
         width: 35%;
         border: 1px solid rgb(222, 219, 219);
         background-color: rgb(255, 221, 98);
         cursor: pointer;
      }

      &__btn:hover {
         color: rgb(255, 29, 29);
         transform: scale(1.1);
      }
   }

   .section {
      background-color: gold;
      height: 15%;
      margin: 2.5rem;

      &__box {
         display: grid;
         row-gap: 50px;
         padding: 3.5rem;
      }

      &__title {
         text-align: center;
         font-size: 2rem;
      }

      &__paragraph {
         max-width: 60%;
         text-align: center;
         font-size: 1.2rem;
         color: darkred;
         font-weight: 700;
         text-align: center;
      }
   }

   .footer ,  {
      background-color: darkgray;
      height: 5rem;
   }
}

@media (min-width:576px) and (max-width:768px){
   .header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      background-color: darkgray;
      

      &__nav {
         display: flex;
         flex-direction: column;
      }

      &__items {
         justify-content: space-between;
         flex-direction: column;
      }

      &__item {
         font-size: .5rem;
      }

   }

   .main {

      font-family: sans-serif;

      

      .text {
         font-size: 1rem;
         color: rgb(108, 108, 108);
         position: relative;
         top: 45%;
         left: 10%;
         font-weight: 500;
      }


      &__groups {
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
         align-items: center;
      }

      &__company {
         padding: 1rem;
      }

      &__product{
         max-width: 30%;
      }
      &__products-wrapper {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         margin-left: 1rem;
      }
      .image__product {
         width: 50px;
      }

      .section {
         background-color: gold;
         height: 15%;
         margin: 2.5rem;
   
         &__box {
            display: grid;
            row-gap: 50px;
            padding: 3.5rem;
         }
   
         &__title {
            text-align: center;
            font-size: 2rem;
         }
   
         &__paragraph {
            max-width: 80%;
            text-align: center;
            font-size: 1.2rem;
            color: darkred;
            font-weight: 700;
            text-align: center;
         }
      }
   
      .footer ,  {
         background-color: darkgray;
         height: 5rem;
      }
   }

   .product-text {
         max-width: 60%;
         text-align: center;
      }

  

   .image-company:hover{
         transform: scale(1.5);
      }
}
@media (min-width:768px) and (max-width:1200px){}
@media (min-width:1200px) and (min-width:1400px){}
